.pagination {
  position: sticky;
  bottom: 0;
  background: #fff;
  padding: 10px 0;
  z-index: 5;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  transition: box-shadow 0.3s ease;
  transition: opacity 0.3s ease, bottom 0.3s ease;
}

button.active {
  background-color: #990000;
  color: white;
  font-weight: bold;
}

